@font-face {
  font-family: 'bold';
  src: url("../fonts/TitilliumWeb-Bold.ttf"); }

html, body {
  margin: 0;
  height: 100%; }

*::selection {
  background: #027a3e;
  color: white; }

.navigation2 {
  width: 100%;
  background: white;
  border-bottom: 1px solid lightgray;
  height: 70px;
  position: fixed;
  z-index: 55; }
  .navigation2 .logoDiv img {
    margin-top: 20px;
    width: 250px; }
  .navigation2 .links ul {
    list-style: none; }
    .navigation2 .links ul li {
      display: inline-block;
      padding: 22px;
      cursor: pointer;
      position: relative; }
      .navigation2 .links ul li:last-child:before {
        width: 1px;
        position: absolute;
        left: 0;
        height: 15px;
        background: #c5c5c5;
        content: "";
        top: 25px;
        display: block; }
      .navigation2 .links ul li .mobileSubmenu {
        position: absolute;
        width: 100%;
        height: auto;
        background: white;
        top: 70px;
        display: none;
        opacity: 0;
        z-index: 22;
        border: 1px solid #c5c5c5;
        border-top: unset; }
        .navigation2 .links ul li .mobileSubmenu ul {
          padding: 0; }
          .navigation2 .links ul li .mobileSubmenu ul li {
            padding: 10px;
            width: 100%; }
            .navigation2 .links ul li .mobileSubmenu ul li:hover a {
              color: #027a3e; }
            .navigation2 .links ul li .mobileSubmenu ul li:last-child:before {
              width: 0; }
            .navigation2 .links ul li .mobileSubmenu ul li a {
              transition: .2s;
              text-decoration: none;
              text-transform: lowercase;
              width: 100%;
              color: black;
              display: inline-block;
              font-family: "Titillium Web", sans-serif; }
      .navigation2 .links ul li a {
        text-decoration: none;
        font-size: 12px;
        text-transform: uppercase;
        padding-bottom: 25.5px;
        color: black;
        font-family: "Titillium Web", sans-serif;
        transition: .2s; }
  .navigation2 .burgerParent {
    width: 50px;
    height: 35px;
    float: right;
    display: none;
    border-radius: 7px;
    background: #027a3e;
    margin-top: 17px; }
    .navigation2 .burgerParent .burger {
      position: relative;
      top: 12px;
      left: 10px; }
      .navigation2 .burgerParent .burger .burger1, .navigation2 .burgerParent .burger .burger2, .navigation2 .burgerParent .burger .burger3 {
        width: 30px;
        position: absolute;
        height: 2px;
        background: white; }
      .navigation2 .burgerParent .burger .burger1 {
        top: -2px; }
      .navigation2 .burgerParent .burger .burger2 {
        top: 5px; }
      .navigation2 .burgerParent .burger .burger3 {
        top: 12px; }

@media (max-width: 992px) {
  .navigation2 .links {
    display: none; } }

@media (max-width: 992px) {
  .navigation2 .burgerParent {
    display: block; } }

.submenu {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 70px;
  z-index: 333;
  background: #3C3C3C;
  display: block; }
  .submenu ul {
    list-style: none;
    float: right; }
    .submenu ul .active a {
      color: #00b55a; }
    .submenu ul li {
      margin: 0 0 0 58px;
      display: inline-block;
      margin-left: 0;
      transition: .2s;
      padding: 2px; }
      .submenu ul li:hover {
        background: #2A2A2A; }
      .submenu ul li a {
        color: white;
        text-decoration: none;
        padding: 28px;
        display: block;
        font-family: "Titillium Web", sans-serif; }

@media (max-width: 992px) {
  .submenu {
    display: none; } }

.mobileMenu {
  width: 100%;
  left: 100%;
  height: auto;
  position: fixed;
  z-index: 33;
  padding-top: 75px;
  padding-bottom: 20px;
  top: -100%;
  background: #303030;
  font-family: "Titillium Web", sans-serif; }
  .mobileMenu .subUl {
    padding-left: 15px; }
    .mobileMenu .subUl li {
      transition: .2s;
      padding: 5px 10px;
      width: 95%; }
      .mobileMenu .subUl li:hover {
        background: #027a3e; }
      .mobileMenu .subUl li a {
        font-size: 14px; }
        .mobileMenu .subUl li a:first-letter {
          text-transform: uppercase; }
  .mobileMenu ul {
    list-style: none; }
    .mobileMenu ul li {
      padding-top: 10px; }
      .mobileMenu ul li:last-child a {
        font-size: 14px;
        color: white; }
        .mobileMenu ul li:last-child a i {
          color: white;
          margin-left: 10px;
          font-size: 22px; }
      .mobileMenu ul li a {
        color: white;
        font-size: 14px; }

@media (max-height: 420px) {
  .mobileMenu {
    overflow-y: scroll;
    bottom: 0;
    padding-bottom: 50px; } }

.header2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  padding-top: 70px; }
  .header2 img {
    width: 100%; }
  .header2 .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header2 .filter .mouse {
      width: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -50%); }
    .header2 .filter h1 {
      font-size: 55px;
      font-family: bold;
      color: white;
      position: relative;
      top: 30%;
      width: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      @media (max-width: 1366px) {
        .header2 .filter h1 {
          font-size: 40px; } }

@media (max-width: 720px) {
  .header2 img {
    height: 380px !important;
    max-width: 800px !important;
    width: auto !important; } }

@media (max-width: 992px) {
  .header2 .filter .mouse {
    display: none; } }

@media (max-width: 992px) {
  .header2 .filter h1 {
    width: 90%;
    font-size: 30px;
    top: 40%; }
  .header2 .filter .arrow {
    top: 30%; } }

@media (max-width: 480px) {
  .header2 .filter h1 {
    font-size: 18px; } }

.separator {
  width: 100%;
  height: 25px;
  background: #027a3e; }

@media (max-width: 992px) {
  .separator {
    height: 10px; } }

.homeContent {
  width: 100%;
  height: auto;
  background: #F8F8F8;
  padding-top: 70px; }
  .homeContent .shortList {
    height: auto;
    font-family: "Titillium Web", sans-serif;
    overflow: auto; }
    .homeContent .shortList .par {
      margin-left: 56px;
      margin-top: -23px; }
    .homeContent .shortList h1 {
      color: #027a3e;
      font-family: bold;
      font-size: 50px;
      position: relative; }
      .homeContent .shortList h1:after {
        content: "";
        display: block;
        width: 10px;
        height: 75px;
        position: absolute;
        top: 0px;
        left: 50px;
        background: #F8F8F8;
        border-left: 1px solid lightgray;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
        overflow: hidden; }
    .homeContent .shortList p {
      font-size: 12px;
      color: black; }
      .homeContent .shortList p:first-child {
        text-transform: uppercase; }
    .homeContent .shortList h4 {
      font-family: bold;
      color: black; }
    .homeContent .shortList a {
      display: inline-block;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
      text-transform: uppercase;
      border: 1px solid grey;
      padding: 6px 15px;
      font-size: 12px;
      text-decoration: none;
      color: grey;
      transition: .2s; }
      .homeContent .shortList a:hover {
        background: #027a3e;
        border: 1px solid #027a3e;
        color: white; }
  .homeContent .blogSection {
    font-family: "Titillium Web", sans-serif;
    height: auto;
    margin-bottom: 50px; }
    .homeContent .blogSection .title {
      width: 340px;
      position: relative;
      margin: auto;
      margin-bottom: 50px; }
      .homeContent .blogSection .title h1 {
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        font-family: bold;
        color: #027a3e;
        position: relative;
        width: 140px;
        margin-bottom: 30px; }
        .homeContent .blogSection .title h1:after {
          content: "";
          display: block;
          width: 50px;
          height: 55px;
          background: #F8F8F8;
          overflow: hidden;
          position: absolute;
          transform: rotate(30deg);
          border-left: 1px solid grey;
          top: 22px;
          left: 118px; }
      .homeContent .blogSection .title .par {
        position: absolute;
        text-transform: uppercase;
        right: -30px;
        top: 25px; }
        .homeContent .blogSection .title .par p {
          font-size: 12px; }
        .homeContent .blogSection .title .par h5 {
          font-weight: bold;
          font-size: 18px; }
    .homeContent .blogSection .moreBtn a {
      margin-top: 50px;
      border: 1px solid grey;
      display: inline-block;
      text-transform: uppercase;
      color: grey;
      font-size: 12px;
      text-decoration: none;
      margin-top: 50px;
      font-family: "Titillium Web", sans-serif;
      padding: 6px 15px;
      transition: .2s; }
      .homeContent .blogSection .moreBtn a:hover {
        background: #027a3e;
        border: 1px solid #027a3e;
        color: white; }
    .homeContent .blogSection .image {
      width: 100%;
      position: relative;
      height: 130px;
      background-size: cover !important;
      background-position: center !important; }
      .homeContent .blogSection .image .banner {
        position: absolute;
        left: -10px;
        font-size: 12px;
        font-weight: bold;
        bottom: 20px;
        color: white;
        text-transform: uppercase;
        background: #027a3e;
        padding: 7px 20px; }
    .homeContent .blogSection h3 {
      font-size: 16px;
      margin-bottom: 20px;
      color: black; }
    .homeContent .blogSection p {
      color: #545454; }
    .homeContent .blogSection .author {
      font-size: 10px; }
  .homeContent .portfolioSection {
    overflow: auto;
    margin-bottom: 50px; }
    .homeContent .portfolioSection .title {
      width: 340px;
      position: relative;
      margin: auto; }
      .homeContent .portfolioSection .title h1 {
        font-size: 35px;
        text-transform: uppercase;
        font-family: bold;
        color: #027a3e;
        position: relative;
        width: 360px;
        margin-bottom: 30px; }
        .homeContent .portfolioSection .title h1:after {
          content: "";
          display: block;
          width: 50px;
          height: 55px;
          background: #F8F8F8;
          overflow: hidden;
          position: absolute;
          transform: rotate(30deg);
          border-left: 1px solid grey;
          top: 22px;
          left: 225px; }
      .homeContent .portfolioSection .title .par {
        position: absolute;
        text-transform: uppercase;
        top: 25px;
        width: 100%;
        left: 245px; }
        .homeContent .portfolioSection .title .par p {
          font-size: 12px;
          font-family: "Titillium Web", sans-serif; }
        .homeContent .portfolioSection .title .par h5 {
          font-family: bold;
          font-size: 18px; }
    .homeContent .portfolioSection .portfolio {
      width: 100%;
      height: 235px;
      margin-bottom: 50px;
      overflow: hidden; }
      .homeContent .portfolioSection .portfolio:hover .image .portfolioText {
        bottom: -25px; }
      .homeContent .portfolioSection .portfolio .image {
        width: 100%;
        height: 200px;
        background-size: cover !important;
        position: relative;
        background-position: center !important; }
        .homeContent .portfolioSection .portfolio .image .portfolioText {
          width: 90%;
          transition: .5s;
          text-align: center;
          height: auto;
          position: absolute;
          left: 50%;
          padding-top: 20px;
          padding-bottom: 20px;
          bottom: -120px;
          transform: translate(-50%);
          background: #212121;
          font-family: "Titillium Web", sans-serif; }
          .homeContent .portfolioSection .portfolio .image .portfolioText h3 {
            color: white;
            width: 70%;
            margin: auto;
            word-break: break-word; }
          .homeContent .portfolioSection .portfolio .image .portfolioText a {
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: 5px 10px;
            text-transform: uppercase;
            margin-top: 33px;
            display: inline-block;
            transition: .2s; }
            .homeContent .portfolioSection .portfolio .image .portfolioText a:hover {
              background: white;
              color: black; }
  .homeContent .partners {
    background: #ffffff;
    padding: 60px 0 70px;
    border-top: 1px solid #f4f3f7;
    position: relative; }
    .homeContent .partners ul {
      list-style: none;
      margin: 0;
      width: 100%;
      text-align: center; }
      .homeContent .partners ul li {
        padding: 0;
        display: inline-block;
        margin: 0 0 0 48px; }
        .homeContent .partners ul li img {
          width: 100%;
          opacity: 0.8;
          filter: grayscale(100%);
          transition: .2s; }
          .homeContent .partners ul li img:hover {
            filter: grayscale(0%); }
  .homeContent .newsletter2 {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #027a3e;
    font-family: "Titillium Web", sans-serif; }
    .homeContent .newsletter2 h3 {
      color: white;
      font-weight: 700;
      font-size: 22px; }
    .homeContent .newsletter2 p {
      color: white;
      font-size: 14px; }
    .homeContent .newsletter2 form {
      margin-top: 20px; }
      .homeContent .newsletter2 form input {
        padding: 8px 12px;
        font-family: "Titillium Web", sans-serif;
        outline: none !important;
        border: unset !important;
        display: inline-block; }
      .homeContent .newsletter2 form button {
        display: inline-block;
        padding: 7px 12px;
        background: #212121;
        color: white;
        outline: none;
        border: 2px solid #212121;
        transition: .2s;
        position: relative;
        left: -4px; }
        .homeContent .newsletter2 form button:hover {
          background: #00ab55;
          border: 2px solid #00ab55; }
  .homeContent .line {
    cursor: pointer;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    transition: .2s;
    padding-top: 20px;
    padding-bottom: 20px; }
    .homeContent .line:hover {
      background: white; }
    .homeContent .line:last-child, .homeContent .line:nth-child(4) {
      border-right: 0; }
  .homeContent .bottomLine {
    border-bottom: unset; }
    @media (max-width: 992px) {
      .homeContent .bottomLine {
        border-bottom: 1px solid #D3D3D3; } }

@media (max-width: 992px) {
  .homeContent {
    padding-top: 20px; } }

@media (max-width: 992px) {
  .homeContent .shortList h1 {
    font-size: 34px; }
    .homeContent .shortList h1:after {
      left: 32px;
      height: 55px; } }

@media (max-width: 992px) {
  .homeContent .blogSection .title h1:after {
    top: 0;
    left: 94px; } }

@media (max-width: 992px) {
  .homeContent .blogSection .title h1 {
    font-size: 25px; } }

@media (max-width: 992px) {
  .homeContent .portfolioSection .title h1:after {
    top: 0;
    left: 94px; } }

@media (max-width: 992px) {
  .homeContent .portfolioSection .title h1 {
    font-size: 25px; } }

@media (max-width: 992px) {
  .homeContent .portfolioSection .title h1 {
    text-align: left;
    color: #027a3e;
    position: relative;
    width: 180px;
    margin-bottom: 30px; }
    .homeContent .portfolioSection .title h1:after {
      left: 160px; }
  .homeContent .portfolioSection .title .par {
    position: relative;
    text-transform: uppercase;
    top: -20px;
    width: 100%;
    left: unset;
    right: -89px; } }

@media (max-width: 1199px) {
  .homeContent .partners {
    padding: 50px 0; } }

@media (max-width: 991px) {
  .homeContent .partners {
    padding: 35px 0 40px; } }

@media (max-width: 666px) {
  .homeContent .partners {
    padding: 25px 0 28px; } }

@media (max-width: 1199px) {
  .homeContent .partners ul li {
    margin: 0 0 0 36px;
    margin-bottom: 20px; } }

@media (max-width: 991px) {
  .homeContent .partners ul li img {
    max-width: 96px; } }

@media (max-width: 767px) {
  .homeContent .partners ul li img {
    max-width: 90px; } }

@media (max-width: 735px) {
  .homeContent .partners ul li img {
    max-width: 78px; } }

@media (max-width: 666px) {
  .homeContent .newsletter2 h3 {
    font-size: 20px; } }

@media (max-width: 567px) {
  .homeContent .newsletter2 h3 {
    font-size: 18px; } }

@media (max-width: 992px) {
  .homeContent .blogSection .title .par {
    right: 60px; }
    .homeContent .blogSection .title .par h5 {
      font-size: 14px; } }

@media (max-width: 992px) {
  .homeContent .portfolioSection .portfolio {
    height: 235px;
    overflow: unset;
    margin-bottom: 145px; } }

@media (max-width: 992px) {
  .homeContent .partners ul {
    padding-left: 20px;
    padding-right: 50px; } }

@media (max-width: 992px) {
  .homeContent .newsletter2 {
    padding: 40px 5px 50px; } }

@media (max-width: 992px) {
  .homeContent .line {
    border-right: unset; } }

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite; }

@keyframes pulse {
  to {
    opacity: 1; } }

.mobileNavigation {
  display: none;
  width: 100%;
  height: 100vh;
  background: #027a3e;
  position: fixed;
  top: -100%;
  opacity: 0;
  z-index: 111;
  top: 0; }
  .mobileNavigation ul {
    list-style: none;
    margin-top: 120px; }
    .mobileNavigation ul li {
      padding-top: 20px; }
      .mobileNavigation ul li a {
        color: white;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-size: 20px; }

@media (max-width: 1200px) {
  .mobileNavigation {
    display: block; } }

.header {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  position: relative;
  top: 90px;
  background-attachment: fixed !important; }
  .header .filter {
    width: 100%;
    height: 100%;
    padding-top: 130px;
    position: relative;
    background: rgba(0, 0, 0, 0.4); }
    .header .filter h1 {
      position: relative;
      color: white;
      font-family: "Raleway", sans-serif; }
      .header .filter h1:first-child {
        font-size: 70px;
        font-weight: bold; }
        .header .filter h1:first-child:after {
          width: 100%;
          background: url("../img/afterLine.png");
          height: 7px;
          background-repeat: no-repeat;
          content: "";
          margin-top: 10px;
          display: block; }
      .header .filter h1:nth-child(2) {
        width: 62%;
        font-size: 55px; }
    .header .filter button {
      transition: .2s;
      width: 160px;
      height: 50px;
      top: 50px;
      position: relative;
      padding: 10px;
      font-size: 16px;
      text-transform: uppercase;
      border: 1px solid white;
      background: transparent;
      outline: none;
      color: white; }
      .header .filter button:hover {
        background: #027a3e;
        color: white;
        border: unset; }

@media (max-height: 768px) {
  .header .filter {
    padding-top: 90px; } }

@media (max-width: 992px) {
  .header .filter h1:first-child {
    font-size: 40px; } }

@media (max-width: 992px) {
  .header .filter h1:nth-child(2) {
    font-size: 25px;
    width: 90%; } }

@media (max-width: 992px) {
  .header .filter button {
    width: unset;
    height: unset;
    padding: 10px 15px 10px 20px; } }

@media (max-width: 992px) {
  .header .filter {
    padding: 105px 0 0 10px; } }

.border {
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #027a3e 0%, white 50%, #027a3e 100%); }

.backTo {
  position: fixed;
  bottom: 45px;
  right: 45px;
  opacity: 0;
  display: none;
  z-index: 80;
  cursor: pointer; }

.overflow {
  overflow: hidden; }

#owl3 .owl-nav {
  margin-top: -150px;
  position: relative;
  z-index: 999; }

#owl3 .owl-prev {
  float: left;
  margin-left: 20px; }

#owl3 .owl-next {
  float: right;
  margin-right: 20px; }

#owl3 ul {
  list-style: none;
  padding: 0; }
  #owl3 ul li {
    display: inline-block;
    padding-right: 15px; }
    #owl3 ul li p {
      display: inline-block;
      color: white;
      font-family: "Open Sans", sans-serif; }
    #owl3 ul li img {
      width: unset;
      display: inline-block;
      margin-right: 5px; }

#owl3 .blogPreview {
  width: 50%;
  font-size: 14px;
  color: white;
  font-family: "Open Sans", sans-serif;
  white-space: pre-line;
  line-height: 24px;
  margin-bottom: 50px; }

@media (max-width: 992px) {
  #owl3 .blogPreview {
    width: 100%;
    margin-bottom: 30px; } }

.blogHeader {
  width: 100%;
  height: 80vh;
  display: block;
  background-size: cover !important;
  background-position: center !important; }
  .blogHeader .filter {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: relative; }
    .blogHeader .filter .recentPost {
      width: 1000px;
      box-shadow: inset 0 -20px 20px -20px rgba(0, 0, 0, 0.55);
      max-width: 1000px;
      height: 230px;
      position: absolute;
      bottom: 0;
      background: white;
      font-family: "Titillium Web", sans-serif;
      padding-left: 30px;
      padding-top: 30px;
      padding-bottom: 25px; }
      .blogHeader .filter .recentPost .tag {
        color: #ffffff;
        display: inline-block;
        font-weight: 700;
        background: #027a3e;
        color: #ffffff;
        display: inline-block;
        font-family: "Titillium Web", sans-serif;
        font-size: 12px;
        font-weight: 700;
        padding: 5px 18px;
        text-transform: uppercase;
        position: absolute;
        top: -15px;
        left: -20px; }
      .blogHeader .filter .recentPost h1 {
        font-weight: bold; }
      .blogHeader .filter .recentPost a {
        background: #fbfbfb;
        border: 1px solid #9a9a9a;
        margin-top: 25px;
        color: #333333;
        display: inline-block;
        padding: 6px 15px;
        text-transform: uppercase;
        text-decoration: none;
        vertical-align: top;
        transition: .2s; }
        .blogHeader .filter .recentPost a:hover {
          background: #027a3e;
          color: white; }
      .blogHeader .filter .recentPost .viewCount {
        padding: 6px 22px 6px 25px;
        position: absolute;
        vertical-align: bottom;
        bottom: 35px; }
        .blogHeader .filter .recentPost .viewCount i {
          margin-left: 5px;
          color: lightgray; }
      .blogHeader .filter .recentPost .author {
        display: inline-block;
        position: absolute;
        right: 20px;
        bottom: 35px;
        margin: 6px 0 0 15px; }

@media (max-width: 992px) {
  .blogHeader {
    display: none; } }

@media (max-width: 992px) {
  .blogHeader .filter .recentPost {
    display: none; } }

.blogList2 {
  height: auto;
  padding-top: 65px; }
  .blogList2 .col-md-8 {
    transition: .2s;
    margin-bottom: 50px; }
    .blogList2 .col-md-8 .list {
      padding: 20px;
      border-bottom: 1px solid lightgray;
      transition: .2s;
      cursor: pointer;
      overflow: auto; }
      .blogList2 .col-md-8 .list:hover {
        background: white; }
        .blogList2 .col-md-8 .list:hover .preview h3 {
          color: #027a3e; }
      .blogList2 .col-md-8 .list:first-child {
        display: none; }
      .blogList2 .col-md-8 .list .blogImage {
        width: 200px;
        height: 150px;
        float: left;
        background-size: cover !important;
        background-position: center !important;
        display: inline-block;
        position: relative; }
        .blogList2 .col-md-8 .list .blogImage .tag {
          position: absolute;
          background: #027a3e;
          top: 17px;
          right: 0;
          padding: 5px 20px;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 12px;
          color: white;
          font-family: "Titillium Web", sans-serif; }
      .blogList2 .col-md-8 .list .preview {
        float: right;
        width: 70%;
        padding-left: 15px;
        font-family: "Titillium Web", sans-serif; }
        .blogList2 .col-md-8 .list .preview h3 {
          margin-top: 0;
          transition: .2s; }
        .blogList2 .col-md-8 .list .preview p {
          display: inline-block;
          font-size: 12px;
          color: #797979;
          margin: 0 0 20px; }
        .blogList2 .col-md-8 .list .preview span {
          position: relative;
          color: #bfbfbf;
          top: 10px;
          font-size: 12px; }
        .blogList2 .col-md-8 .list .preview .count {
          float: right; }
    .blogList2 .col-md-8 .customPagination {
      text-align: center;
      margin-top: 30px;
      list-style: none; }
      .blogList2 .col-md-8 .customPagination li {
        display: inline-block;
        border: 1px solid lightgray;
        margin: 2px 5px;
        padding: 3px 8px;
        cursor: pointer; }
        .blogList2 .col-md-8 .customPagination li:hover {
          border: 2px solid grey; }
          .blogList2 .col-md-8 .customPagination li:hover a {
            color: #027a3e; }
        .blogList2 .col-md-8 .customPagination li:first-child {
          border: 2px solid grey; }
        .blogList2 .col-md-8 .customPagination li a {
          text-decoration: none;
          color: grey; }
  .blogList2 .sideContent {
    font-family: "Titillium Web", sans-serif; }
    .blogList2 .sideContent h1 {
      color: #027a3e;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase; }
    .blogList2 .sideContent ul {
      list-style: none;
      padding: 0; }
      .blogList2 .sideContent ul li {
        padding: 5px 10px;
        display: inline-block;
        border: 1px solid black;
        margin-right: 5px;
        transition: .2s;
        margin-bottom: 5px; }
        .blogList2 .sideContent ul li:hover {
          background: #027a3e;
          border: 1px solid #027a3e; }
          .blogList2 .sideContent ul li:hover a {
            color: white; }
        .blogList2 .sideContent ul li a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px;
          color: black; }
    .blogList2 .sideContent form {
      margin-bottom: 50px; }
      .blogList2 .sideContent form input {
        border: 1px solid grey;
        padding: 5px 10px;
        outline: none;
        width: 60%; }
      .blogList2 .sideContent form button {
        outline: none;
        border: 1px solid grey;
        text-transform: uppercase;
        padding: 5px 10px;
        background: transparent;
        transition: .2s; }
        .blogList2 .sideContent form button:hover {
          background: #027a3e;
          color: white; }
    .blogList2 .sideContent ol {
      padding: 20px;
      list-style: number; }
      .blogList2 .sideContent ol li {
        border-bottom: 1px solid lightgray;
        padding-bottom: 20px;
        margin-bottom: 10px;
        cursor: pointer; }
        .blogList2 .sideContent ol li:hover p {
          color: #027a3e; }
        .blogList2 .sideContent ol li p {
          font-weight: bold;
          transition: .2s;
          margin-left: 10px; }
        .blogList2 .sideContent ol li .author {
          font-size: 12px;
          margin-left: 10px;
          color: #8b8b8b; }

@media (max-width: 992px) {
  .blogList2 .col-md-8 .list {
    overflow: hidden; }
    .blogList2 .col-md-8 .list:first-child {
      display: block; }
    .blogList2 .col-md-8 .list .blogImage {
      width: 100%;
      float: unset;
      margin-bottom: 20px; }
    .blogList2 .col-md-8 .list .preview {
      float: unset;
      width: 100%;
      padding-left: 0;
      text-align: center; }
      .blogList2 .col-md-8 .list .preview .author {
        float: left; }
      .blogList2 .col-md-8 .list .preview .count {
        float: right; } }

.blogDetail {
  font-family: "Titillium Web", sans-serif; }
  .blogDetail .blogInfo {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    overflow: auto;
    padding-bottom: 30px; }
    .blogDetail .blogInfo h1 {
      font-size: 32px;
      padding-bottom: 20px; }
    .blogDetail .blogInfo .date {
      color: #027a3e;
      font-size: 16px;
      float: left; }
    .blogDetail .blogInfo .author {
      float: right;
      font-size: 16px; }
    .blogDetail .blogInfo a {
      text-decoration: none;
      color: grey;
      display: inline-block;
      border: 1px solid lightgray;
      padding: 5px 20px;
      float: left;
      transition: .2s; }
      .blogDetail .blogInfo a:hover {
        background: #027a3e;
        color: white; }
    .blogDetail .blogInfo .time {
      float: right;
      margin: 7px 0px 7px 0;
      padding-left: 20px; }
      .blogDetail .blogInfo .time i {
        margin-left: 10px;
        color: lightgray;
        position: relative;
        top: 1px;
        font-size: 18px; }
    .blogDetail .blogInfo .secondDiv {
      margin-top: 20px; }
  .blogDetail p {
    margin-top: 20px;
    font-size: 16px; }
  .blogDetail h2 {
    font-weight: bold;
    text-transform: uppercase;
    color: #027a3e;
    font-size: 26px; }
  .blogDetail .authorDiv {
    padding-bottom: 35px; }
    .blogDetail .authorDiv .authorImage {
      width: 100px;
      display: inline-block;
      height: 100px;
      background-size: cover !important;
      margin-right: 20px;
      overflow: hidden;
      float: left;
      border-radius: 50%;
      background: red; }
    .blogDetail .authorDiv .name {
      color: #027a3e;
      font-size: 18px; }
    .blogDetail .authorDiv span {
      margin-top: 10px;
      display: block; }

@media (max-width: 992px) {
  .blogDetail .blogInfo .secondDiv {
    margin-top: 85px; } }

.blogList {
  height: 500px; }
  .blogList h1 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    font-weight: bold; }
    .blogList h1:after {
      content: "";
      display: block;
      width: 80px;
      height: 1px;
      background: #027a3e;
      margin-top: 10px; }
  .blogList .wrapper {
    overflow: hidden; }
    .blogList .wrapper .blogDiv {
      width: 100%;
      height: 350px;
      border: 3px solid #c5c5c5;
      margin-bottom: 20px; }
      .blogList .wrapper .blogDiv .titleDiv {
        width: 200px;
        height: 40px;
        background: #027a3e;
        position: relative;
        top: 20px; }
        .blogList .wrapper .blogDiv .titleDiv h3 {
          font-size: 22px;
          padding-top: 10px;
          text-align: center;
          color: white;
          font-size: 14px;
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif; }
      .blogList .wrapper .blogDiv .blogImage {
        width: 100%;
        height: 170px;
        margin-top: 50px;
        background-size: cover !important;
        background-position: center !important;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .blogList .wrapper .blogDiv .blogInfo {
        text-align: center; }
        .blogList .wrapper .blogDiv .blogInfo h3 {
          margin-top: 40px; }
          .blogList .wrapper .blogDiv .blogInfo h3:after {
            content: "";
            display: block;
            height: 1px;
            width: 80%;
            margin: auto;
            background: #e6e9ed;
            margin-top: 10px; }
          .blogList .wrapper .blogDiv .blogInfo h3 a {
            font-family: "Raleway", sans-serif;
            color: black;
            text-decoration: none;
            transition: .2s; }
            .blogList .wrapper .blogDiv .blogInfo h3 a:hover {
              color: #027a3e; }
        .blogList .wrapper .blogDiv .blogInfo ul {
          list-style: none;
          padding: 0; }
          .blogList .wrapper .blogDiv .blogInfo ul li {
            display: inline-block;
            margin-right: 5px; }
            .blogList .wrapper .blogDiv .blogInfo ul li img {
              display: inline-block;
              margin-right: 5px; }
            .blogList .wrapper .blogDiv .blogInfo ul li p {
              display: inline-block;
              font-family: "Open Sans", sans-serif; }
        .blogList .wrapper .blogDiv .blogInfo p {
          color: grey;
          text-align: left; }
        .blogList .wrapper .blogDiv .blogInfo .readMore {
          padding: 10px 35px;
          border: 1px solid #c5c5c5;
          background: white;
          outline: none;
          color: black;
          float: right;
          display: inline-block;
          text-decoration: none;
          margin-top: 10px;
          margin-bottom: 25px;
          transition: .2s; }
          .blogList .wrapper .blogDiv .blogInfo .readMore:hover {
            background: #027a3e;
            color: white; }
  .blogList .sideContent ul {
    list-style: none; }
    .blogList .sideContent ul li {
      padding-top: 5px; }
      .blogList .sideContent ul li img {
        display: inline-block;
        margin-right: 5px; }
      .blogList .sideContent ul li a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-size: 24px;
        text-transform: uppercase;
        font-family: "Raleway", sans-serif;
        transition: .2s; }
        .blogList .sideContent ul li a:hover {
          color: #027a3e; }
  .blogList .sideContent .tagovi {
    margin-top: 100px; }
    .blogList .sideContent .tagovi ul li {
      display: inline-block;
      border: 1px solid #c5c5c5;
      width: 60px;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      text-align: center;
      height: 30px;
      margin-bottom: 5px;
      transition: .2s;
      cursor: pointer; }
      .blogList .sideContent .tagovi ul li:hover {
        background: #027a3e;
        color: white; }

@media (max-width: 992px) {
  .blogList .wrapper .blogDiv {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    padding-right: 20px; }
    .blogList .wrapper .blogDiv:before {
      width: 0;
      height: unset; }
    .blogList .wrapper .blogDiv .blogInfo p {
      margin-bottom: 30px;
      text-align: center; }
    .blogList .wrapper .blogDiv .blogInfo button {
      margin-bottom: 20px;
      float: unset;
      text-align: center;
      margin-right: 0; } }

.paginationDiv {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px; }
  .paginationDiv ul {
    padding: 0; }
    .paginationDiv ul li {
      display: inline-block;
      border: 2px solid #c5c5c5;
      padding: 10px 20px;
      color: grey;
      cursor: pointer;
      transition: .2s; }
      .paginationDiv ul li:hover {
        background: #027a3e;
        color: white; }

@media (max-width: 992px) {
  .paginationDiv ul li {
    margin-bottom: 5px; } }

.newsletter {
  width: 100%;
  height: auto;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  position: relative;
  overflow: hidden; }
  .newsletter .filter {
    width: 100%;
    height: 100%;
    padding-top: 130px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
    background: rgba(34, 182, 153, 0.72); }
    .newsletter .filter h1 {
      position: relative;
      color: white;
      font-size: 45px;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      margin-bottom: 30px; }
      .newsletter .filter h1:after {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background: white;
        margin: auto;
        margin-top: 10px; }
    .newsletter .filter p {
      text-align: center;
      color: white;
      font-size: 22px;
      font-family: "Open Sans", sans-serif; }
    .newsletter .filter form {
      margin-top: 50px; }
      .newsletter .filter form button {
        width: 100%;
        display: none;
        padding: 10px;
        color: white;
        margin-top: 5px;
        background: #027a3e;
        border: 2px solid #027a3e; }
      .newsletter .filter form .inputWrapper {
        width: 285px;
        position: relative;
        margin: auto;
        height: 75px;
        border: 10px solid #00a651; }
        .newsletter .filter form .inputWrapper .icon {
          width: 100px;
          height: 100%;
          background: #00a651;
          float: right; }
          .newsletter .filter form .inputWrapper .icon img {
            margin-top: 5px;
            margin-left: 10px;
            width: 45px; }
        .newsletter .filter form .inputWrapper input {
          width: 180px;
          height: 100%;
          position: absolute;
          font-family: "Raleway", sans-serif;
          font-size: 12px;
          text-align: center;
          padding: 10px;
          left: 0; }

@media (max-height: 768px) {
  .newsletter .filter {
    padding-top: 90px; } }

@media (max-width: 992px) {
  .newsletter .filter form button {
    display: block; } }

.blogDetailContent h1 {
  font-family: "Raleway", sans-serif; }
  .blogDetailContent h1:after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background: #027a3e;
    margin-top: 5px; }

.blogDetailContent .basicInfo {
  list-style: none;
  padding: 0; }
  .blogDetailContent .basicInfo li {
    display: inline-block;
    margin-right: 15px; }
    .blogDetailContent .basicInfo li img {
      display: inline-block;
      margin-right: 5px; }
    .blogDetailContent .basicInfo li p {
      display: inline-block;
      font-size: 16px;
      font-family: "Open Sans", sans-serif; }

.blogDetailContent .kategorijeList {
  float: right;
  list-style: none;
  float: right; }
  .blogDetailContent .kategorijeList li {
    display: inline-block;
    font-size: 18px; }
    .blogDetailContent .kategorijeList li:nth-child(3) {
      color: #027a3e; }

.blogDetailContent .wrapper {
  overflow: hidden; }
  .blogDetailContent .wrapper .blogTxt {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    height: auto;
    border: 3px solid #c5c5c5; }
    .blogDetailContent .wrapper .blogTxt .content {
      position: relative;
      top: 25px;
      padding: 55px; }
      .blogDetailContent .wrapper .blogTxt .content .videoDiv {
        width: 100%;
        height: 400px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover !important;
        background-position: center !important; }
        .blogDetailContent .wrapper .blogTxt .content .videoDiv img {
          width: 160px; }
      .blogDetailContent .wrapper .blogTxt .content p {
        font-size: 16px;
        font-family: "Open Sans", sans-serif; }
      .blogDetailContent .wrapper .blogTxt .content .quote {
        padding: 50px;
        font-style: italic; }
        .blogDetailContent .wrapper .blogTxt .content .quote:before {
          content: "";
          display: block;
          width: 50px;
          height: 50px;
          background-repeat: no-repeat !important;
          background: url("../img/blog-detail/quote2.png");
          background-size: contain;
          float: left; }
        .blogDetailContent .wrapper .blogTxt .content .quote:after {
          content: "";
          display: block;
          width: 50px;
          float: right;
          height: 50px;
          background-repeat: no-repeat !important;
          background: url("../img/blog-detail/quotes.png");
          background-size: contain; }
      .blogDetailContent .wrapper .blogTxt .content .socialDiv {
        position: relative;
        top: 25px; }
        .blogDetailContent .wrapper .blogTxt .content .socialDiv h2 {
          font-family: "Raleway", sans-serif;
          font-weight: bold; }
          .blogDetailContent .wrapper .blogTxt .content .socialDiv h2:after {
            content: "";
            display: block;
            width: 90px;
            height: 1px;
            background: #027a3e;
            margin-top: 5px; }
        .blogDetailContent .wrapper .blogTxt .content .socialDiv ul {
          list-style: none;
          padding: 0;
          margin-top: 40px;
          margin-bottom: 40px; }
          .blogDetailContent .wrapper .blogTxt .content .socialDiv ul li {
            display: inline-block;
            margin-right: 20px; }
      .blogDetailContent .wrapper .blogTxt .content .tagDiv {
        position: absolute;
        right: 0;
        bottom: 40px;
        width: 280px; }
        .blogDetailContent .wrapper .blogTxt .content .tagDiv h2 {
          font-family: "Raleway", sans-serif;
          font-weight: bold;
          margin-left: 15px; }
          .blogDetailContent .wrapper .blogTxt .content .tagDiv h2:after {
            content: "";
            display: block;
            width: 100px;
            height: 1px;
            background: #027a3e;
            margin-top: 5px; }
        .blogDetailContent .wrapper .blogTxt .content .tagDiv ul {
          list-style: none;
          float: right;
          margin-left: -30px; }
          .blogDetailContent .wrapper .blogTxt .content .tagDiv ul li {
            margin-bottom: 5px;
            display: inline-block;
            text-align: center;
            transition: .2s;
            cursor: pointer;
            width: 70px;
            height: 30px;
            text-transform: uppercase;
            border: 2px solid #c5c5c5; }
            .blogDetailContent .wrapper .blogTxt .content .tagDiv ul li:hover {
              background: #027a3e;
              color: white; }

@media (max-width: 992px) {
  .blogDetailContent .wrapper {
    width: 100%; } }

@media (max-width: 992px) {
  .blogDetailContent .wrapper .blogTxt .content {
    padding: 10px; } }

@media (max-width: 992px) {
  .blogDetailContent .wrapper .blogTxt .content .socialDiv {
    top: 0; }
    .blogDetailContent .wrapper .blogTxt .content .socialDiv ul {
      padding-left: 20px;
      text-align: center; }
    .blogDetailContent .wrapper .blogTxt .content .socialDiv h2 {
      text-align: center; }
      .blogDetailContent .wrapper .blogTxt .content .socialDiv h2:after {
        margin: auto; } }

@media (max-width: 360px) {
  .blogDetailContent .wrapper .blogTxt .content .socialDiv ul {
    padding-left: 15px; } }

@media (max-width: 992px) {
  .blogDetailContent .wrapper .blogTxt .content .tagDiv {
    position: static;
    margin-top: 20px;
    width: unset; }
    .blogDetailContent .wrapper .blogTxt .content .tagDiv h2 {
      text-align: center; }
      .blogDetailContent .wrapper .blogTxt .content .tagDiv h2:after {
        margin: auto;
        margin-top: 5px; }
    .blogDetailContent .wrapper .blogTxt .content .tagDiv ul {
      float: unset;
      text-align: center;
      margin-bottom: 35px;
      margin-top: 40px; } }

.donwloadsDiv {
  margin-top: 50px; }
  .donwloadsDiv .wrapper {
    overflow: hidden; }
    .donwloadsDiv .wrapper .downloadBox {
      margin-top: 100px;
      width: 100%;
      position: relative;
      height: 250px;
      background: white; }
      .donwloadsDiv .wrapper .downloadBox button {
        position: absolute;
        border: 1px solid #027a3e;
        color: #027a3e;
        text-transform: uppercase;
        bottom: 10px;
        font-family: "Open Sans", sans-serif;
        right: 10px;
        background: white;
        padding: 10px 20px;
        transition: .2s; }
        .donwloadsDiv .wrapper .downloadBox button:hover {
          background: #027a3e;
          color: white; }

.relatedBlogs {
  text-align: center;
  margin-bottom: 30px; }
  .relatedBlogs h1 {
    text-align: left; }
  .relatedBlogs .imageDiv {
    margin-top: 40px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background: red;
    height: 200px; }
  .relatedBlogs h3 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px; }
    .relatedBlogs h3:after {
      content: "";
      display: block;
      height: 1px;
      width: 50%;
      margin: auto;
      background: #c5c5c5;
      margin-top: 10px; }
  .relatedBlogs p {
    font-family: "Open Sans", sans-serif; }
  .relatedBlogs a {
    width: 100%;
    padding: 10px 20px;
    display: inline-block;
    background: white;
    outline: none;
    margin-top: 10px;
    text-decoration: none;
    color: #027a3e;
    border: 1px solid #027a3e;
    transition: .2s; }
    .relatedBlogs a:hover {
      background: #027a3e;
      color: white; }

@media (max-width: 1300px) {
  #owl3 .owl-nav {
    margin-top: 40px; }
  #owl3 .owl-next {
    margin-right: 10px; }
  #owl3 .owl-prev {
    margin-left: unset; } }

@media (max-width: 360px) {
  #owl3 .owl-nav {
    margin-top: 0; } }

.mobileInput {
  display: none;
  width: 100%;
  padding: 10px;
  border: 2px solid #027a3e;
  outline: none;
  text-align: center; }

@media (max-width: 992px) {
  .inputWrapper {
    display: none; }
  .mobileInput {
    display: block; } }

@media (max-width: 992px) {
  * {
    background-attachment: unset !important; }
  #owl3 {
    margin-top: -55px; }
  .bottomBlogPreview {
    display: none; } }

.paginationList {
  list-style: none;
  text-align: center; }
  .paginationList li {
    display: inline-block;
    border: 2px solid #c5c5c5;
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding-top: 5px;
    text-align: center;
    transition: .2s;
    font-family: "Open Sans", sans-serif; }
    .paginationList li:hover {
      background: #027a3e;
      color: white; }

.socialDiv {
  background: #202020;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #4B4B4B; }
  .socialDiv ul {
    list-style: none;
    text-align: right; }
    .socialDiv ul li {
      display: inline-block;
      margin-left: 5px; }
      .socialDiv ul li:hover a img {
        opacity: 1; }
      .socialDiv ul li a img {
        filter: grayscale(100%);
        opacity: 0.8; }

@media (max-width: 992px) {
  .socialDiv {
    padding-top: 25px;
    padding-bottom: 25px; } }

@media (max-width: 992px) {
  .socialDiv .logoDiv {
    text-align: center;
    margin-bottom: 20px; } }

@media (max-width: 992px) {
  .socialDiv ul {
    padding: 0;
    text-align: center; } }

.footerMenu {
  background: #202020;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Titillium Web", sans-serif; }
  .footerMenu ul {
    list-style: none;
    padding: 0; }
    .footerMenu ul li a {
      color: white;
      font-size: 12px; }
  .footerMenu .otherInfo .info {
    display: inline-block; }
  .footerMenu .otherInfo a, .footerMenu .otherInfo p {
    display: block;
    text-align: right;
    font-size: 12px;
    color: white; }
  .footerMenu .otherInfo h5 {
    color: white;
    text-align: right;
    color: #00a651;
    text-transform: uppercase;
    margin-top: 0; }
  .footerMenu .otherInfo img {
    display: inline-block; }

@media (max-width: 992px) {
  .footerMenu ul {
    text-align: center; } }

@media (max-width: 992px) {
  .footerMenu .otherInfo {
    margin-top: 20px; } }

@media (max-width: 992px) {
  .footerMenu .otherInfo h5, .footerMenu .otherInfo a, .footerMenu .otherInfo p {
    text-align: right; } }

.footer {
  background: #0D0D0D;
  padding-top: 30px;
  padding-bottom: 30px; }
  .footer p {
    font-size: 11px;
    font-family: "Titillium Web", sans-serif;
    color: #8d8d8d; }
  .footer a {
    text-decoration: none;
    color: #0D0D0D; }
  .footer .footerIcons ul {
    list-style: none; }
    .footer .footerIcons ul li {
      display: inline-block;
      padding: 4px 0; }
      .footer .footerIcons ul li img {
        width: 100px; }

@media (max-width: 992px) {
  .footer p {
    text-align: center; }
  .footer ul {
    text-align: center;
    padding: 0; } }
